name: Diagnostic Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: 23f3003805@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Verify workflow
        run: echo "Workflow executed successfully"
